// colors
$color-gray: #e5e5e5;
$color-gray-darker: #d2d2d2;
$accent-color: #9c9282;
$color-text: #171717;
$color-black: #000;
$color-white: #eee;

// fonts, quat - main, lora - sub, weights: 400, 700
$quat: 'Quattrocento', serif;
$lora: 'Lora', serif;